// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

video {
  width: 100%    !important;
  height: auto   !important;
  border: 5px solid #428bca;
}

#localVideo {
  z-index: 99;
  position: absolute;
  bottom: 0;
  right: -500%;
  border: 2px solid #428bca;
}

#js-chat-body {
  max-height: 255px;
  height: 255px;
  overflow: auto;
}

#chat-grid {
  padding-top: 5px;
}

.coding-area {
  // Temporary
  height: 560px;
}